@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --black: #000;
    --white: #fff;
    --text: #303030;
    --dark-blue: #2229ef;
    --blue: #3facff;
    --text-light: #757575;
    --text-dark: #bcbcbc;
    --dark-bg: #04002e;
    --super: #edf1ff;
    --form-field-dark: #2b2296;

    --node: #50c250;
    --react: #58d8ff;
    --js: #fffc31;
    --html: #e35b00;
    --axios: #a325fd;
    --mongo: #348e48;
    --npm: #c02c2c;
    --mongoose: #b00f00;
    --git: #f85050;
    --router: #b91919;
    --ex: #8e8e8e;
    --tailwind: #37a2ff;
    --jwt: #ff61f7;

    --card-light: #ecefff;
    --card-dark: #070051;

    --pr1: #e1f5ff;
    --pr2: #ffffff;
    --prm1: #75caff;
    --prm2: #ffffff;

    --pr-dark-1: #d8f2ff;
    --pr-dark-2: #b8bfff;
    --prm-dark-1: #070051;
    --prm-dark-2: #3a5efe;

    --shadow-light: #d0d0d0;

    --switch-light: #ecefff;
    --switch-dark: #070051;

    --organic: #4abb8c;
    --organic-light: #b0ffdf;

    --foodly: #fd6e54;

    --calculator: #ff962d;
  --calc-text: #1d1d1d;
}

@theme {
  --shadow-inner-md: 0 0px 40px 10px var(--dark-blue),
    inset 0 0 40px 10px var(--blue);
}

@theme {
  --shadow-inner-sm: 0px 0px 15px 5px var(--dark-blue),
    inset 0 0 15px 5px var(--blue);
}

@theme {
  --shadow-inner-sm-hero: 0px 0px 25px 7px var(--dark-blue),
    inset 0 0 25px 7px var(--blue);
}

@theme {
  --shadow-outher-sm: 0 0px 25px 7px var(--blue)
}

@theme {
  --shadow-outher-sm-dark: 0 0px 25px 7px var(--dark-blue)
}

@theme {
  --shadow-switch-light: 0 0px 12px 3px var(--blue)
}

@theme {
  --shadow-switch-dark: inset 0 0px 12px 3px var(--dark-blue)
}

@theme {
  --shadow-menu-link: inset 0 0 10px 2px var(--dark-blue);
}

html {
  scroll-behavior: smooth;
  background-color: var(--dark-bg);
}



* {
    font-family: "Poppins";
}

