@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
    --black: #000;
    --white: #fff;
    --text: #303030;
    --dark-blue: #2229ef;
    --blue: #3facff;
    --text-light: #757575;
    --text-dark: #bcbcbc;
    --dark-bg: #04002e;
    --super: #edf1ff;
    --form-field-dark: #2b2296;

  --js: #f7e58d;
  --node: #14e645;
  --react: #8fe6ff;
  --express: #ffffff;
  --mongodb: #2bf371;
  --git: #e3876d;
  --tailwind: #8dd6e8;
  --html: #f5a28a;
  --vite: #edc2ff;

    --card-light: #ecefff;
    --card-dark: #070051;


    --pricing-card-1: #070051;
    --pricing-card-2: #3a5efe;

    --pricing-card-3: #510700;
    --pricing-card-4: #fe3a5e;

    --pricing-card-5: #005107;
    --pricing-card-6: #5efe3a;
    --pricing-shadow-red: #ef2229;
    --pricing-shadow-green: #29ef22;
    --pricing-shadow-blue: #2229ef;


    --shadow-light: #d0d0d0;

    --switch-light: #ecefff;
    --switch-dark: #070051;


}

@theme {
  --shadow-inner-md: 0 0px 40px 10px var(--dark-blue),
    inset 0 0 40px 10px var(--blue);
}

@theme {
  --shadow-inner-sm: 0px 0px 15px 5px var(--dark-blue),
    inset 0 0 15px 5px var(--blue);
}

@theme {
  --shadow-inner-sm-hero: 0px 0px 25px 7px var(--dark-blue),
    inset 0 0 25px 7px var(--blue);
}

@theme {
  --shadow-outher-sm: 0 0px 25px 7px var(--blue)
}

@theme {
  --shadow-outher-sm-blue: 0 0px 25px 5px var(--pricing-shadow-blue)
}

@theme {
  --shadow-switch-dark: inset 0 0px 12px 3px var(--dark-blue)
}

@theme {
  --shadow-menu-link: inset 0 0 10px 2px var(--dark-blue);
}

* {
    font-family: "Poppins";
}

html {
  scroll-behavior: smooth;
  background-color: var(--dark-bg);
}