@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --black: #000;
    --white: #fff;
    --text: #303030;
    --dark-blue: #2229ef;
    --blue: #3facff;
    --text-light: #757575;
    --text-dark: #bcbcbc;
    --dark-bg: #04002e;
}

@theme {
  --shadow-inner-md: 0 0px 40px 10px var(--dark-blue),
    inset 0 0 40px 10px var(--blue);
}

* {
    font-family: "Poppins";
}

