@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --black: #000;
    --white: #fff;
    --text: #303030;
    --dark-blue: #2229ef;
    --blue: #3facff;
    --text-light: #757575;
    --text-dark: #bcbcbc;
    --dark-bg: #04002e;
    --super: #edf1ff;
    --form-field-dark: #2b2296;

    --node: #50c250;
    --react: #58d8ff;
    --js: #fffc31;
    --html: #e35b00;
    --axios: #a325fd;
    --mongo: #348e48;
    --npm: #c02c2c;
    --mongoose: #b00f00;
    --git: #f85050;
    --router: #b91919;
    --ex: #8e8e8e;
    --tailwind: #37a2ff;
    --jwt: #ff61f7;

    --card-light: #ecefff;
    --card-dark: #070051;
}

@theme {
  --shadow-inner-md: 0 0px 40px 10px var(--dark-blue),
    inset 0 0 40px 10px var(--blue);
}

@theme {
  --shadow-inner-sm: 0 0px 25px 7px var(--dark-blue),
    inset 0 0 25px 7px var(--blue);
}

* {
    font-family: "Poppins";
}

